/* curvedicrescita.com */
/* $Id$ */

html, body {
    margin:0;
    padding:0;
}

body {
    background-color: #fff;
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #226;
}

/* IE displays fieldsets very weirdly */
fieldset {
	padding: 5px 0px 0px 5px;
}

a {
    color: #33b;
    text-decoration: underline;
}

a:visited {
    color: #226;
}

div#signin {
    width:100%;
    text-align:right;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}

div#header {
    float:left;
    width:100%;
    display:block;
    margin:0;
    padding:0;
}

div#logo {
    float:left;
    display:block;
    width:380px;
	height:35px;
    margin:0;
    padding:0;
    border-bottom: 1px solid #ccf;
}

div#menu {
    float:right;
    display:block;
	margin-top:8px;
}

div#header div#balloon {
    position:absolute;
    left:-2000px;
    top:-2000px;
    width:330px;
    height:150px;
    background:url(../img/balloon/rect_sx.png) no-repeat;
    display:block;
}

div#balloon #balloon_content {
    margin-left:50px;
    margin-top:20px;
    width:260px;
    height:110px;
    display:block;
}

div#logo #logoimg {
	position:fixed;
	left:0px;
	top:0px;
}

div#logo #logotitle {
	position:fixed;
	left:80px;
}

h1 {
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Times New Roman', serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 1em;
    margin:0;
    margin-bottom: 8px;
}

body hr {
    margin-bottom: 20px;
    text-align: center;
    opacity:0.4;
    width:75%;
}

#article #author, #article #tags {
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px 0 0 40px;
}

#article #tags {
    background: url(../img/icon-tags.png) no-repeat;
    padding: 4px 0 0 40px;
    height: 32px;
    font-weight: bold;
}

#article #tags a, #question #tags a, #questions #tags a {
    background-color: #ddf;
    color: #33d;
    border-bottom: 1px solid #88f;
    border-right: 1px solid #88f;
    text-decoration: none;
	font-weight: bold;
	font-size: 12px;
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    line-height: 21px;
    padding: 1px 5px 1px 5px;
}

#article p {
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#article blockquote {
    margin: 0;
    padding-left: 30px;
    margin-top: 15px;
    font-size: 14px;
    background: url(../img/quotes.gif) no-repeat 5px 0px;
}

.question {
	list-style: none;
	display: block;
	border-bottom: 1px solid #ddd;
}

#stats {
	display: block;
	float: left;
	font-size: 16px;
	font-weight: bold;
	width: 40px;
	min-height: 150px;
	text-align: center;
	/* border: 1px solid #aaddff; */
	margin-right: 10px;
}

#question-text {
	font-size: 14px;
	line-height: 1.5em;
}

#answers h2 {
	border-bottom: 1px solid;
}

#answers ul li {
	border-bottom: 1px solid;
}

ul#nav, ul#nav li {
    list-style-type:none;
    margin:0;
    margin-top: 10px;
    padding:0;
}

ul#nav {
    width: 100%;
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
}

ul#nav li {
    float:left;
    margin-right:5px;
    text-align:center;
}

ul#nav a{
    float:left;
    width:4.5em;
    background:url(../img/button_bg_10_25.jpg);
    text-decoration:none;
	padding-left: 5px;
	padding-right: 5px;
    color: #228; /*48f*/
    border: 1px solid #aaf;
}

ul#nav a:hover {
    background:#228;
    color: #fff;
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background: #228;
	border-bottom: 1px solid #228;
    color: #fff;
}

div#content {
    width:100%;
    clear:both;
    float:left;
    display:block;
    padding:0;
    margin:20px 0 0 0;
}

#content #topics { 
    float:left;
    width:20%;
    background-color:#eef;
    display:block;
    padding:4px;
    margin:0;
}

#content #article {
    float:left;
    width:55%;
    padding:0;
    margin:0;
    padding-left: 15px;
    font-size: 13px;
	line-height: 1.4em;
    display:block;
}

#content #article2col, #content #questions {
    float:left;
    width:75%;
    padding:0;
    margin:0;
    padding-left: 15px;
    font-size: 13px;
	line-height: 1.2em;
    display:block;
}

#questions h1 {
	border-bottom: 1px solid;
}

#questions h3 {
	font-size: 1.2em;
	font-weight: 800;
}

#content #sidebar {
    float:right;
    background:#eef;
    width:20%;
    display:block;
    padding:4px;
    margin:0;
}

#content #taglist { 
    float:right;
    width:75%;
    display:block;
    padding:5px;
    margin:0;
}

#taglist #tags-search {
	height:26px;
	font-size:22px; 
}

#taglist ul {
    list-style-type: none;
    width: 100%;
}

#taglist li {
    margin-bottom: 8px;
    width: 33%;
    float: left;
}

#taglist span.tagname {
    background: #ddf;
    padding: 3px 6px 3px 6px;
    border-bottom: 1px solid #88f;
    border-right: 1px solid #88f;
}

#taglist a {
    text-decoration: none;
}

#taglist span:hover {
    text-decoration: none;
	background-color: #88c;
}

#content #taglist span.tagfrequency {
    padding: 3px;
    font-weight: bold;
    font-size: 17px;
}


#topics h2, #sidebar h2 {
    font-family: 'Lucida Sans Unicode', 'Trebuchet MS', 'Times New Roman', serif;
    font-variant: small-caps;
    font-size: 1.4em;
    height: 22px;
    background: url(../img/button_bg_10_25.jpg) repeat;
    padding: 3px 0 0 5px;
    margin:0;
    border: 1px solid #aaf;
}

/* Sidebar lists */
#topics ul, #sidebar ul {
    list-style-type: none;
    margin-left: 12px;
    line-height: 14px;
    padding:0;
}

#topics li, #sidebar li {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
}

/* Updated articles */
#topics li.new {
	background-color: #afa;
}

/* Offline articles */
a.offline {
	color: #ccc;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;

}

a.live {
	font-weight: bold;
}

#topics p, #sidebar p {
    font-size: 12px;
}

/* Footer */
div#footer {
    display:block;
    float:left;
    width:100%;
    margin-top: 60px;
    text-align:center;
}

.highlight {
	background-color: #ffff88;
	padding:2px;
	border-right: 1px solid orange;
	border-bottom: 1px solid orange;
	text-decoration: none;
}

/* Form and controls */
/*
input {
    border: 1px solid #48c;
    background: #eee;
    color: #000;
    font-family: Geneva, Verdana, Times New Roman;
    font-size: 12px;
    font-weight: 800;
}

input#search {
    color: #bbb; 
}
*/

#article textarea {
	width: 95%;
	height: 500px;
}

#article textarea.comment-text, textarea.answer-text {
	width: 80%;
	height: 80px;
}

div.comment {
	border-bottom: 1px #ccc dotted;
	padding: 0;
	margin: 0;
}

/* When comments are from site admins */
div.official {
    background-color:#eeffee;
    padding: 5px;
    border: #ccffcc 1px dotted;
}

#article p.comment-details {
	font-size: 0.9em;
}

.vote, .favorite {
	display: block;
	float: left;
	width: 40px;
	min-height: 50px;
	padding-top: 0px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

div.comment-text {
	margin-left: 0px; /* 65px; */
}

/*
#article input, #article textarea {
    border: 1px solid #48c;
    background: #ddf;
    color: #000;
    font-family: "Courier New", Monotype, Geneva, Verdana, Times New Roman;
    font-size: 12px;
    padding: 2px;
}
*/

#article input#title {
    font-size: 18px;
    font-weight: bold;
}

#article input#keywords, #article #content {
    font-size: 14px;
    font-weight: bold;
}

/*
#article input[type=button] {
	font-size: 1em;
	border:1px solid #48c;
}

#article input[type=submit] {
    padding:2px;
    background: #fc8;
    border:1px solid #f80;
    font-size: 1em;
}

#google_custom_search input[type=submit] {
	background: #ccf;
	border:0;
	font-size: 15px;
	font-weight: bold;
	padding:0px;
}
*/

#article li.search_result {
    font-size: 18px;
    padding-top: 15px;
    margin: 0 0 10px 0;
}

#article #publish_status {
    padding: 8px;
	border: 2px solid #48f;
	text-align: center;
}

#article #excerpt {
    font-size: 12px;
}

/* Notice boxes */
div#notice_box_warning {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
    display: block;
    background: red;
    color: white;
    border: 1px solid #800;
    text-align: center;
}

div#notice_box_warning h3, div#notice_box_warning p {
    text-align: center;
    margin:0;
    padding:0 0 0 10px;
}

div#notice_box_info {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
    display: block;
    background: #ada;
    color: white;
    border: 1px solid #0c0;
    text-align: center;
}

div#notice_box_info h3, div#notice_box_info p {
    text-align: center;
    margin:0;
    padding:0 0 0 10px;
	font-weight: bold;
}

/* Blue tab under main header */
body #tab {
	clear:both;
	padding-left: 20px;
	padding-top:6px; 
	background-color: #228;
	height:24px
}

body #tab span {
	color:#fff;
	font-size: 1em;
}

body #tab span a {
	color:#ccf;
	font-size: 1em;
}

