/* curvedicrescita.com */
/* $Id$ */

html, body {
    margin:0;
    padding:0;
}

body {
    background-color: #fff;
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica;
    font-size: 13px;
    color: #226;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: #226;
}

div#signin {
    width:100%;
    text-align:right;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
}

div#header {
    float:left;
    width:100%;
    display:block;
    margin:0;
    padding:0;
}

div#logo {
    float:left;
    display:block;
    width:380px;
    margin:0;
    padding:0;
}

div#menu {
    float:right;
    display:block;
}

div#header {
/*, div#menu, div#logo {*/
    /*height: 44px;*/
    border-bottom: 1px solid #ccf;
}

div#header div#balloon {
    position:absolute;
    left:50px;
    top:0px;
    display:none;
}

div#logo #logoimg {
    margin-bottom: -9px;
}

div#logo #logotitle {
    margin-bottom: 3px;
}

h1 {
    font-family: 'Myriad Web Pro', 'Trebuchet MS', 'Times New Roman', serif;
    font-weight: 800;
    font-size: 2.2em;
    margin:0;
    margin-bottom: 8px;
}

#article hr {
    margin-bottom: 20px;
    text-align: center;
    opacity:0.4;
    width:75%;
}

#article #author, #article #tags {
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica;
    font-size: 1em;
    padding: 3px 0 0 40px;
}

#article #tags {
    background: url(../img/icon-tags.png) no-repeat;
    padding: 4px 0 0 40px;
    height: 32px;
    font-weight: bold;
}

#article p {
    font-family: 'Trebuchet MS', Verdana, Arial, Helvetica;
    font-size: 14px;
}

#article blockquote {
    margin: 0;
    padding-left: 30px;
    margin-top: 15px;
    font-size: 14px;
    background: url(../img/quotes.gif) no-repeat 5px 0px;
}

ul#nav, ul#nav li {
    list-style-type:none;
    margin:0;
    margin-top: 10px;
    padding:0;
}

ul#nav {
    width: 100%;
    font-family: Trebuchet MS, Georgia;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
}

ul#nav li {
    float:left;
    margin-right:5px;
    text-align:center;
}

ul#nav a{
    float:left;
    width:5em;
    background:url(../img/button_bg_10_25.jpg);
    text-decoration:none;
    color: #228; /*48f*/
    border: 1px solid #aaf;
}

ul#nav a:hover {
    background:#228;
    color: #fff;
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background: #228;
    color: #fff;
}

div#content {
    width:100%;
    clear:both;
    float:left;
    display:block;
    padding:0;
    margin:20px 0 0 0;
}

#content #topics { 
    float:left;
    width:20%;
    background-color:#eef;
    display:block;
    padding:4px;
    margin:0;
}

#content #article {
    float:left;
    width:55%;
    padding:0;
    margin:0;
    padding-left: 15px;
    font-size: 13px;
    display:block;
}

#content #sidebar {
    float:right;
    background:#eef;
    width:20%;
    display:block;
    padding:4px;
    margin:0;
}

#content #taglist { 
    float:right;
    width:75%;
    display:block;
    padding:5px;
    margin:0;
}

#taglist ul {
    list-style-type: none;
    width: 100%;
}

#taglist li {
    margin-bottom: 8px;
    width: 33%;
    float: left;
}

#taglist span.tagname {
    background: #ccf;
    padding: 3px 6px 3px 6px;
    border-bottom: 1px solid #88f;
    border-right: 1px solid #88f;
}

#taglist a {
    text-decoration: none;
}

#content #taglist span.tagfrequency {
    padding: 3px;
    font-weight: bold;
    font-size: 17px;
}


#topics h2, #sidebar h2 {
    font-family: 'Myriad Web Pro', 'Trebuchet MS', 'Times New Roman', serif;
    font-variant: small-caps;
    font-size: 1.4em;
    height: 22px;
    background: url(../img/button_bg_10_25.jpg) repeat;
    padding: 3px 0 0 5px;
    margin:0;
    border: 1px solid #aaf;
}

/* Sidebar lists */
#topics ul, #sidebar ul {
    list-style-type: none;
    margin-left: 12px;
    line-height: 14px;
    padding:0;
}

#topics li, #sidebar li {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#topics p, #sidebar p {
    font-size: 14px;
}

/* Footer */
div#footer {
    display:block;
    float:left;
    width:100%;
    margin-top: 60px;
    text-align:center;
}

/* Form and controls */
input {
    border: 1px solid #48c;
    background: #eee;
    color: #000;
    font-family: Geneva, Verdana, Times New Roman;
    font-size: 12px;
    font-weight: 800;
}

input#search {
    color: #bbb; 
}

#article input, #article textarea {
    border: 1px solid #48c;
    background: #ddf;
    color: #000;
    font-family: Geneva, Verdana, Times New Roman;
    font-size: 12px;
    padding: 2px;
}

#article input#title {
    font-size: 18px;
    font-weight: bold;
}

#article input#keywords, #article #content {
    font-size: 14px;
    font-weight: bold;
}

#article input.submit {
    padding:5px;
    background: #f88;
    border:3px solid red;
    font-size: 18px;
    font-weight: bold;
}

#article li.search_result {
    font-size: 18px;
    padding-top: 15px;
    margin: 0 0 10px 0;
}

#article #excerpt {
    font-size: 12px;
}

