/* curvedicrescita.com - mobile css */
/* $Id$ */

html, body {
    margin:0; padding:0
}

body {
    background-color: #fff;
    font-family: serif;
    font-size: 13px;
    color: #226;
}

div#signin {
    display:none;
    /*
    width:100%;
    text-align:right;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
    */
}

div#header {
    float:left;
    width:100%;
    display:block;
    margin:0;
    padding:0;
}

div#logo {
    float:left;
    display:block;
    width:380px;
    margin:0;
    padding:0;
}

div#menu {
    width:100%;
    float:left;
    display:block;
}

div#header, div#menu, div#logo {
    height: 44px;
    border-bottom: 1px solid #ccf;
}

div#logo #logotitle {
    margin-bottom: 7px;
}

#article h1 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 8px;
}

#article hr {
    display: none;
}

#article #author, #article #tags {
    font-family: serif;
    font-size: 12px;
}

#article p {
    font-family: serif;
    font-size: 12px;
}

#article blockquote {
    margin: 0;
    padding-left: 30px;
    background: url(../img/quotes.gif) no-repeat 5px 0px;
}

ul#nav, ul#nav li {
    list-style-type:none;
    margin:0;
    margin-top: 10px;
    padding:0;
}

ul#nav {
    width: 100%;
    font-family: serif;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
}

ul#nav li {
    float:left;
    margin-right:2px;
    text-align:center;
}

ul#nav a{
    float:left;
    width:4em;
    background:url(../img/button_bg_10_25.jpg);
    text-decoration:none;
    color: #228; /*48f*/
    border: 1px solid #aaf;
}

ul#nav a:hover {
    background:#48f;
    color: #fff;
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
    background: #48c;
    color: #fff;
}

div#content {
    width:100%;
    clear:both;
    float:left;
    display:block;
    padding:0;
    margin:0;
    margin-top: 10px;
}

#content #topics {
    display:none;
    /*
    float:left;
    width:100%;
    display:block;
    padding:5px;
    */
}

#content #article {
    float:left;
    width:100%;
    font-size: 12px;
    display:block;
}

#content #sidebar {
    display:none;
}

#topics h2, #sidebar h2 {
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 3px;
    font-size: 13px;
    background: #ddf;
    padding-left: 5px;
    border: 1px solid #aaf;
}

/* Sidebar lists */
#topics ul, #sidebar ul {
    list-style-type: none;
    margin-left: 12px;
    line-height: 14px;
    padding:0;
}

#topics li, #sidebar li {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

#topics p, #sidebar p {
    font-size: 14px;
}

/* Footer */
div#footer {
    display:block;
    float:left;
    width:100%;
    margin-top: 60px;
    text-align:center;
}

/* Form and controls */
input {
    border: 1px solid #48c;
    background: #eee;
    color: #000;
    font-family: Geneva, Verdana, Times New Roman;
    font-size: 12px;
    font-weight: 800;
}

input#search {
    color: #bbb; 
}

