<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<link rel="stylesheet" type="text/css" href="/css/admin.css"/>

<body>

<tmpl_if admin>

	<tmpl_include name="components/signin.html">

	<div id="header" style="border:0; margin-top: 20px">
    <h1 style="margin-left: 30px; text-align:center">Statistiche e amministrazione</h1>
	</div>

    <div id="tab" style="padding-left: 20px; background-color: #228; height:24px">
    <span style="color:white; font-size: 1em">
        <ul>
        <li>Statistiche</li>
        <li>Notifiche</li>
        </ul>
    </span>
    </div>

	<div id="content" style="margin-left: 60px">

	<h2>STATISTICHE GENERALI</h2>

	<table id="stats1" cellpadding="2" cellspacing="0">
	<tmpl_loop name="stats1">
		<tr>
			<td><tmpl_var name="stat_name"></td>
			<td align="right" style="font-size:20px; font-weight: bold"><tmpl_var name="stat_value"></td>
		</tr>
	</tmpl_loop>
	</table>

	<h2>ARTICOLI PI&Ugrave; LETTI</h2>
	<!-- tmpl_if name="articles_popular" -->
	<!-- tmpl_var name="articles_popular" -->
	<!-- tmpl_else -->
	<p><tmpl_var name="msg:Ancora nessun articolo..."></p>
	<!-- /tmpl_if -->

	<h2>ARTICOLI MENO LETTI</h2>
	<!-- tmpl_if name="articles_worst" -->
	<!-- tmpl_var name="articles_worst" -->
	<!-- tmpl_else -->
	<p><tmpl_var name="msg:Ancora nessun articolo..."></p>
	<!-- /tmpl_if -->
	</div>

<tmpl_else>

    <div style="margin-left: 60px">
    <h2>Ci dispiace, non c'&egrave; nulla qui...</h2>
    <a href="/exec/home">Torna alla pagina principale</a>
    </div>

</tmpl_if>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">
