<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<link rel="stylesheet" type="text/css" href="/css/admin.css"/>

<body>

<tmpl_if admin>

	<tmpl_include name="components/signin.html">

	<div id="header" style="border:0">
		<div id="logo">
			<a href="<tmpl_var mycgi_path>" title="Ritorna alla pagina principale"><img border="0" id="logoimg" src="/img/logo_66_50.gif"><img border="0" id="logotitle" src="/img/title_306_31_pink.gif"></a>
		</div>

		<div>
			<h1 style="margin-top: 10px; margin-left: 30px; text-align:right">Statistiche e amministrazione</h1>
		</div>

		<br/>

	</div>

	<div id="content" style="margin-left: 60px">

	<h2>STATISTICHE GENERALI</h2>

	<table id="stats1" cellpadding="2" cellspacing="0">
	<tmpl_loop name="stats1">
		<tr>
			<td><tmpl_var name="stat_name"></td>
			<td align="right" style="font-size:20px; font-weight: bold"><tmpl_var name="stat_value"></td>
		</tr>
	</tmpl_loop>
	</table>

	<h2>ARTICOLI PI&Ugrave; LETTI</h2>
	<!-- tmpl_if name="articles_popular" -->
	<!-- tmpl_var name="articles_popular" -->
	<!-- tmpl_else -->
	<p><tmpl_var name="msg:Ancora nessun articolo..."></p>
	<!-- /tmpl_if -->

	<h2>ARTICOLI MENO LETTI</h2>
	<!-- tmpl_if name="articles_worst" -->
	<!-- tmpl_var name="articles_worst" -->
	<!-- tmpl_else -->
	<p><tmpl_var name="msg:Ancora nessun articolo..."></p>
	<!-- /tmpl_if -->
	</div>

<tmpl_else>

<div style="margin-left: 60px">

<h2>Ci dispiace, non c'&egrave; nulla qui...</h2>

<a href="/exec/home">Torna alla pagina principale</a>

</div>

</tmpl_if>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">
