<!--<div class="vote">

	<a href="#"
onclick="vote_up('<tmpl_var id>','question','<tmpl_var logged>'); return false;"><img src="/img/vote-arrow-up.png" alt="+1" border="0"></a><br/>

	<span id="question-<tmpl_var id>-rep"><tmpl_var question_reputation></span><br/>

	<a href="#"
onclick="vote_down('<tmpl_var id>','question','<tmpl_var logged>'); return false;"><img src="/img/vote-arrow-down.png" alt="-1" border="0"></a>

</div>
-->

<div class="favorite">
	<div id="question-<tmpl_var id>-fav">
	<a href="#" onclick="vote_favorite('<tmpl_var id>','question','<tmpl_var logged>');">
	<tmpl_if question_favorited>
	<img src="/img/favorite-on.png" border="0" alt="Annulla favorita">
	<tmpl_else>
	<img src="/img/favorite-off.png" border="0" alt="Marca come favorita">
	</tmpl_if>
	</a>
	</div>
</div>
