<tmpl_if name="show_custom_search">
<!-- Google custom search -->
<p>Vuoi provare con Google?</p>
<form action="http://www.google.it/cse" id="cse-search-box">
  <div id="google_custom_search">
    <input type="hidden" name="cx" value="partner-pub-1461056359423577:c01hxumrtzk" />
    <input type="hidden" name="ie" value="ISO-8859-15" />
    <input type="text" name="q" size="40" />
    <input type="submit" name="sa" value="Cerca" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.it/coop/cse/brand?form=cse-search-box&amp;lang=it"></script> 
</tmpl_if>
