<!-- Flash tag cloud. Uses Culumus Cloud by Roy Tank -->
<tmpl_if name="questions_cloud">
	<h2><tmpl_var name="msg:tags popolari"></h2>

	<div id="wpcumuluswidgetcontent"></div>
	<script type="text/javascript" src="/js/swfobject.js"></script>
	<script type="text/javascript">
	var rnumber = Math.floor(Math.random()*9999999);
	var widget_so = new SWFObject("/swf/tagcloud.swf", "tagcloudflash", "190", "190", "9", "#EEEEFF");
	widget_so.addParam("allowScriptAccess", "always");
	widget_so.addVariable("tcolor", "0x1F33b8");
	widget_so.addVariable("tspeed", "100");
	widget_so.addVariable("distr", "true");
	widget_so.addVariable("mode", "tags");
	widget_so.addVariable("tagcloud", "<tmpl_if menu_questions><tmpl_var questions_cloud><tmpl_else><tmpl_var articles_cloud></tmpl_if>");
	widget_so.write("wpcumuluswidgetcontent");
	</script>
</tmpl_if>
