<tmpl_if menu_questions><!-- Best questions -->
	
	<h2><tmpl_var name="msg:le piu' lette"></h2>

	<tmpl_if questions_popular>
	<tmpl_var questions_popular>
	<tmpl_else>
	<p><tmpl_var name="msg:Ancora nessuna domanda..."></p>
	</tmpl_if>

<tmpl_else><!-- Best articles -->

	<h2><tmpl_var name="msg:i piu' letti"></h2>

	<tmpl_if name="articles_popular">
	<tmpl_var name="articles_popular">
	<tmpl_else>
	<p><tmpl_var name="msg:Ancora nessun articolo..."></p>
	</tmpl_if>

</tmpl_if>
