<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<div id="content">

    <tmpl_include name="components/topics.html">

    <div id="article">

    <h1><tmpl_var search_title></h1>

    <p>Trovati <tmpl_var search_results_count> risultati. </p>

    <tmpl_if search_results>
    <ol type="number">

    <tmpl_loop search_results>

    <li class="search_result"><!-- tmpl_var article_link --></li>

    <!-- <div id="author">
    Pubblicato il <tmpl_var createdon>
    <tmpl_if changedby>Modificato il <tmpl_var changedon> da <tmpl_var changedby></tmpl_if>
    </div> -->
  
    <div id="tags">
    <!-- tmpl_var article_keywords -->
    </div>

    <p id="excerpt">
    <!-- tmpl_var article_excerpt -->
    </p>

    </tmpl_loop>
    </ol>

    <!-- tmpl_else -->
    <h2>Nessun risultato trovato.</h2>

<tmpl_if name="show_ads">
<!-- Google custom search -->
<p>Vuoi provare con Google?</p>
<form action="http://www.google.it/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-1461056359423577:c01hxumrtzk" />
    <input type="hidden" name="ie" value="ISO-8859-15" />
    <input type="text" name="q" size="40" />
    <input type="submit" name="sa" value="Cerca" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.it/coop/cse/brand?form=cse-search-box&amp;lang=it"></script> 
</tmpl_if>

	<p>
	Puoi anche provare a <a href="/exec/home/tags">cercare tra le tag</a>.
	</p>

    </tmpl_if>

    </div>

    <tmpl_include name="components/sidebar.html">

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">

