<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<div id="content">

    <tmpl_include name="components/topics.html">

    <div id="article">

    <h2 style="padding:0;margin:0">Pubblica un nuovo articolo</h2>

    <form name="f2" action="article_post" method="post">

        <p>
        <label for="title">Titolo del nuovo articolo <small>(ex.: Come imparare a vivere felici)</small></label><br/>
        <input id="title" type=text name="title" size="51" maxlength="500">
        </p>

        <p>
        <label for="keywords">Lista di tag <small>(ex.: pedagogia, psicologia, sanit&agrave;, italia)</small></label><br/>
        <input id="keywords" type=text name="keywords" size="64" maxlength="250">
        </p>

        <p>
        <label for="body">Contenuto <small>(l'html &egrave; permesso)</small></label><br/>
        <textarea id="content" name="content" cols="64" rows="16" maxlength="65000"></textarea>
        </p>

        <p>
        <label for="submit">Potrai correggere l'articolo dopo averlo inviato</label><br/>
        <br/>

        <input class="submit" type="submit" value="Salva l'articolo">
        </p>

    </form>

    </div>

    <tmpl_include name="components/sidebar.html">

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">

