<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<!-- Diary/curves selector -->
<div id="tab" style="clear:both; padding-left: 20px; padding-top:6px; background-color: #228; height:24px">
<span style="color:white; font-size: 1em">
	<b>Curve di crescita</b> &nbsp; | &nbsp;
	<a style="color:white" href="javascript:alert('Disponibile tra poco!')">Diario del bambino</a>
</span>
</div>

<!-- Main content (chart) -->
<div id="content">

	<div id="topics">
		<tmpl_include name="components/userdata.html">
	</div>

	<div id="article2col">
		<tmpl_include name="components/chart.html">
	</div>

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">
