<div id="article2col">

    <div id="main-article"><tmpl_loop main_articles_list>
        <tmpl_include "components/shared/article-in-list.html"></tmpl_loop>
    </div>

    <div id="mid-level">
        <div id="random-articles" class="box">
            <h3 class="box-heading">Altri articoli</h3>
            <tmpl_loop random_articles_list><tmpl_include "components/shared/article-in-list.html"></tmpl_loop>
        </div>

        <div id="best-articles" class="box">
            <h3 class="box-heading">Articoli pi&ugrave; letti</h3>
            <tmpl_loop best_articles_list><tmpl_include "components/shared/article-in-list.html"></tmpl_loop>
        </div>
    </div>

    <div id="latest-articles">
        <h3 class="heading">Ultimi articoli</h3>
        <tmpl_loop latest_articles_list><tmpl_include "components/shared/article-in-list.html"></tmpl_loop>
    </div>

</div>

