<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<div id="content">

    <tmpl_include name="components/topics.html">

    <div style="float:right;margin-top:180px;margin-right:200px" id="form_message"></div>

    <div id="form" style="margin-left:280px">

        <h1>Recupero della password</h1>

        <p>Inserisci il tuo indirizzo email, e ti verr&agrave; inviata una nuova password.</p>

        <p><b>Nota</b>: CurveDiCrescita.com utilizza la tua email come nome utente.</p>

        <form name="password-reset" action="/exec/home/password_reset_post" method="post">

        <p>
            <label for="user">Email (es.: mario.rossi@alice.it)</label><br/>
            <input type="text" name="user" size="30" maxlength="64">
        </p>

        <p><label for="submit">Inviami una nuova password</label> &nbsp;
        <input type="submit" value="Procedi"></p>

        </form>

    </div>

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">
