<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<div id="content">

    <tmpl_include name="components/topics.html">

    <div style="float:right;margin-top:180px;margin-right:200px" id="form_message"></div>

    <div id="form" style="margin-left:280px">

        <h1>Password inviata via email</h1>

        <p>La tua password ti &egrave; stata inviata all'indirizzo email indicato.
        Per favore, controlla la tua casella di posta e <a href="/">clicca qui per riprovare ad accedere</a>.
    </div>

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">
