<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<div id="content">

    <div id="questions">

    <h2>Pubblica una nuova domanda</h2>

	<p>La domanda sar&agrave; pubblicata nella <a href="<tmpl_var cgi_root>/question/latest">sezione domande</a> e
	tutti gli utenti potranno vederla e rispondere.</p>
	
	<p>Se invece vuoi porre una domanda che non sia visibile
	agli altri utenti, o direttamente all'ostetrica del sito,
	allora <a href="mailto:ostetrica@curvedicrescita.com?subject=Domanda%20su%20%2e%2e%2e">puoi scrivere una mail</a>.</p>

    <form name="f3" action="post" method="post">

        <p>
        <label for="title">Titolo della domanda <small>(ex.: Come cambiare i pannolini?)</small></label><br/>
        <input id="title" type=text name="title" size="80" maxlength="500">
        </p>

        <p>
        <label for="keywords">Lista di tag <small>(ex.: pedagogia, 3 mesi, alimentazione, ostetrica, vaccino)</small></label><br/>
		<small>Se la domanda &egrave; per l'ostetrica, <a href="#" onclick="document.f3.keywords.value+='ostetrica ';document.f3.keywords.focus();">aggiungi "ostetrica"
		alla lista di tag.</a></small><br/>
        <input id="keywords" type=text name="keywords" size="80" maxlength="250">
        </p>

        <p>
        <label for="body">La tua domanda è... <small>(testo o HTML)</small></label><br/>
        <textarea id="content" name="content" cols="80" rows="16" maxlength="65000"></textarea>
        </p>

        <p>
        <label for="submit">Per ora, tieni presente che <b>non</b> potrai correggere la domanda dopo averla inviata.<br/>
		Stiamo lavorando su questo...</label>
		<br/><br/>

        <input class="submit" type="submit" value=" Invia domanda ">
        </p>

    </form>

	<script language="javascript">
		if (document.f3 && document.f3.title) document.f3.title.focus();
	</script>

    </div>

    <tmpl_include name="components/sidebar.html">

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">

