<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">

<div id="content">

    <tmpl_include name="components/topics.html">

    <div id="taglist">

		<form>

        <h1><tmpl_var name="msg:Elenco delle tag"> &nbsp; &rarr;
		<input id="tags-search" type="text" autocomplete="off" size="12" maxlength="100"/>
		</h1>

        <tmpl_if name="tags">

			<ul>

			<tmpl_loop name="tags">
				<li class="tagcell">
					<span class="tagname">
						<a href="<tmpl_var mycgi_path>/search/?keyword=<tmpl_var tag>"><tmpl_var name="tag"></a>
					</span>
					&nbsp;&times;&nbsp;<span class="tagfrequency"><tmpl_var name="occurrencies"></span>
				</li>
			</tmpl_loop>

			</ul>

        <tmpl_else>

			<h2><tmpl_var name="msg:Nessuna tag?"></h2>

        </tmpl_if>

		</form>

		<script language="javascript" src="/js/event-handler.js"></script>
		<script language="javascript" src="/js/tags-search.js"></script>

    </div>

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">

