<head><title><tmpl_if page_title><tmpl_var page_title> - </tmpl_if>Curve di crescita .com</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="handheld"/>
<link rel="stylesheet" type="text/css" href="/css/master.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/tagcloud.css"/>
<link rel="stylesheet" type="text/css" href="/css/charts.css" />
<link rel="alternate"  type="application/rss+xml" title="Curve di crescita.com - RSS Feed" href="/exec/rss" />

<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
<link rel="shortcut icon" href="/img/favicon.gif" type="image/x-icon" />

</head>

