<head>
	<title><tmpl_if page_title><tmpl_var page_title> - </tmpl_if>Curve di crescita .com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="author" content="Tamara De Zotti, Cosimo Streppone">
	<meta name="description" content="Tutto cio' che riguarda la gravidanza, il parto, la crescita, la salute e l'educazione dei bambini">
	<meta name="keywords" content="curve crescita bimbo neonato bambino educazione salute gravidanza parto ostetrica pediatra">
	<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="handheld"/>
	<link rel="stylesheet" type="text/css" href="/css/master.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/css/tagcloud.css"/>
	<link rel="stylesheet" type="text/css" href="/css/charts.css" />
	<link rel="alternate"  type="application/rss+xml" title="Ultimi articoli pubblicati" href="http://feeds2.feedburner.com/Curvedicrescitacom-UltimiArticoli" />
	<link rel="icon" href="/img/favicon.gif" type="image/x-icon" />
	<link rel="shortcut icon" href="/img/favicon.gif" type="image/x-icon" />
</head>

