<div id="article">

    <tmpl_if name="article_title">

    <h1>
        <tmpl_var name="article_title">
        <tmpl_include name="article/buttons.html">
    </h1>

	<tmpl_include name="article/publish_status.html">

    <div id="author">
	    <tmpl_var createdby_avatar>
        Pubblicato da <strong><tmpl_var name="article_createdby"></strong>,
        <tmpl_var name="article_createdon"> (<strong><tmpl_var name="article_views"></strong> visite)
        <tmpl_if name="article_lastupdateby"><br/>
		Ultima modifica: <tmpl_var name="article_lastupdateon"></tmpl_if>
        <br clear="both"/>
    </div>

    <tmpl_if show_translate_button><tmpl_unless english_article>
    <div id="autotranslate">
	<g:plusone size="medium"></g:plusone>
	<br/>
        <img src="/img/translate.png" align="absmiddle" width="32" height="32">
        <a href="#" onclick="window.open('http://translate.google.com/translate?prev=_t&ie=UTF-8&sl=auto&tl=en&history_state0=&u='+escape(document.location.href), 'tn_art', '')">Translate!</a>
    </div>
    </tmpl_unless></tmpl_if>

    <div id="tags">
    <tmpl_var name="article_keywords">
    </div>

    <br/>

    </tmpl_if>

	<!-- Article content -->
	<tmpl_if name="article_content">

		<tmpl_var name="article_content">

	<tmpl_else>

		<br/>

		<h2>Articolo non trovato</h2>

		<p>
		L'articolo non &egrave; stato trovato in archivio.<br/>
		Ricontrolla l'indirizzo e riprova.
		</p>

		<tmpl_include name="shared/google_custom_search.html">

		<p>
		Puoi anche provare a <a href="/exec/home/tags">cercare tra le tag</a>.
		</p>

	</tmpl_if>

    <tmpl_if name="article_related">
    <h2>Articoli correlati</h2>
    <ul>
    <tmpl_loop name="article_related">
    <li><a href="<tmpl_var url>"><tmpl_var title></a> (<b><tmpl_var relevance></b> punti)</li>
    </tmpl_loop>
    </ul>
    </tmpl_if>

	<tmpl_include name="article/comments.html">

</div>

<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'it'}
</script>
