<p style="font-size: 0.9em"><b>Imposta i dati del tuo bambino</b> qui a sinistra. Potrai vedere il risultato
immediatamente qui sotto. Per ora &egrave; possibile visualizzare le curve di
crescita <b>solo del peso e per bambini da 0 a 2 anni</b>. Le curve di altezza e per i
bimbi pi&ugrave; grandi saranno disponibili a breve!</p>

<!--
<form>
	<input id="draw" type="button" value="Draw"/>
	<input id="type" type="button" value="Type"/>
	<input id="clear" type="button" value="Clear"/>
</form>
-->

<div align="center">
	<div id="chart"></div>
	www.curvedicrescita.com
</div>

<script language="javascript" src="/js/wz_jsgraphics.js"></script>
<script language="javascript" src="/js/ajax.js"></script>
<script language="javascript" src="/js/Chart.js"></script>
<script language="javascript" src="/js/event-handler.js"></script>
<script language="javascript" src="/js/chart-form.js"></script>

<script language="javascript">
<!--
	var cht;
	cht = redraw_chart();

	// Install button on-click handlers
	//add_event('click', redraw_chart, 'draw');
	//add_event('click', change_type, 'type');
	//add_event('click', function () { cht.clear() }, 'clear');
// -->
</script>

