<div id="header">
    <div id="logo">
        <img id="logoimg" src="/img/logo_66_50.gif">
        <img id="logotitle" src="/img/title_306_31_pink.gif">
    </div>
    <div id="menu">
        <ul id="nav">
            <li id="tags"><a href="#">tags</a></li><!-- class="activelink" -->
            <li id="domande"><a href="#">domande</a></li>
            <li id="curve"><a href="#">curve</a></li>
            <li id="ostetrica"><a href="#">ostetrica</a></li>
            <li id="pediatra"><a href="#">pediatra</a></li>
            <li id="faq"><a href="#">faq</a></li>
        </ul>
    </div>
</div>
