<div id="header">
    <div id="logo">
        <img id="logoimg" src="/img/logo_66_50.gif">
        <img id="logotitle" src="/img/title_306_31_pink.gif">
    </div>
    <div id="menu">
        <ul id="nav">
            <li id="tags"><a href="<tmpl_var mycgi_path>/tags">tags</a></li><!-- class="activelink" -->
            <li id="domande"><a href="<tmpl_var mycgi_path>/qa">domande</a></li>
            <li id="curve"><a href="#">curve</a></li>
            <li id="ostetrica"><a href="<tmpl_var mycgi_path>/article_search?keyword=ostetrica">ostetrica</a></li>
            <li id="pediatra"><a href="<tmpl_var mycgi_path>/article_search?keyword=pediatra">pediatra</a></li>
            <li id="faq"><a href="<tmpl_var mycgi_path>/article_search?keyword=faq">faq</a></li>
        </ul>
    </div>
</div>
