<div id="header">
    <div id="logo">
        <img id="logoimg" src="/img/logo_66_50.gif">
        <img id="logotitle" src="/img/title_306_31_pink.gif">
    </div>
    <div id="menu">
        <ul id="nav">
            <li id="tags"<tmpl_if menu_tags> class="activelink"</tmpl_if>><a href="<tmpl_var mycgi_path>/tags">tags</a></li>
            <li id="domande"<tmpl_if menu_art_69> class="activelink"</tmpl_if>><a href="<tmpl_var mycgi_path>/article/?id=69">domande</a></li>
            <li title="Non ancora funzionante!" id="curve"<tmpl_if menu_curve> class="activelink"</tmpl_if>><a href="#">curve</a></li>
            <li id="ostetrica"<tmpl_if menu_ostetrica> class="activelink"</tmpl_if>><a href="<tmpl_var mycgi_path>/article_search?keyword=ostetrica">ostetrica</a></li>
            <li id="pediatra"<tmpl_if menu_pediatra> class="activelink"</tmpl_if>><a href="<tmpl_var mycgi_path>/article_search?keyword=pediatra">pediatra</a></li>
            <li id="faq"<tmpl_if menu_faq> class="activelink"</tmpl_if>><a href="<tmpl_var mycgi_path>/article_search?keyword=faq">faq</a></li>
        </ul>
    </div>

    <div id="balloon">
        <div id="balloon_content"/>
    </div>

</div>

<tmpl_include name="notice.html">
