<div id="sidebar">

	<div align="center">
		<form method="post" action="<tmpl_var cgi_root>/question/new">
		<input type="submit" value="<tmpl_var name="msg:fai una domanda">" style="font-size: 1.5em">
		</form>
	</div>

    <br/>

    <tmpl_include name="shared/google_adsense_square.html">

    <tmpl_include name="shared/latest.html">

    <h2>Domande pi&ugrave; lette</h2>

	<tmpl_if questions_popular>
	<tmpl_var questions_popular>
	<tmpl_else>
	<p><tmpl_var name="msg:Ancora nessuna domanda..."></p>
	</tmpl_if>

    <tmpl_include name="shared/cumulus_cloud.html">

</div>

