    <div id="sidebar">
        <h2>ultimi articoli</h2>
        <ul>
            <li>Articolo 1</li>
            <li>Articolo 2</li>
            <li>Articolo 3</li>
            <li>Articolo 4</li>
        </ul>

        <h2>tags popolari</h2>
        <p>Questa, quella, quell'altra.</p>

        <h2>tags preferite</h2>
        <p>Quell'altra ancora, ma quest'altra, e poi chissa' quante altre ancora,</p>

        <h2>archivio articoli</h2>
        <p>Qui ci dovrebbero essere tutti gli articoli pubblicati in passato. Come?</p>
    </div>
