<form style="padding:0;margin:0;" action="<tmpl_var mycgi_path>/article_search" method="post">
<div id="signin">

    <tmpl_if logged>
    <img src="/img/avatar2.gif" align="absmiddle"> <tmpl_var user> 
    <tmpl_else>
    <a id="login" href="#" onclick="toggle_balloon('link','balloon',620,0,'/exec/login');"><tmpl_var name="msg:accedi"></a>
    </tmpl_if>

    &nbsp; | &nbsp;

    <tmpl_if admin>
    <a href="/exec/home/articles"><tmpl_var name="msg:pubblica nuovo articolo"></a>
    &nbsp; | &nbsp;
    </tmpl_if>

    <tmpl_unless admin>
    <a href="mailto:domande@curvedicrescita.com"><tmpl_var name="msg:scrivici"></a>
    &nbsp; | &nbsp;
    </tmpl_unless>

    <tmpl_if logged>
    <a id="logout" href="/exec/home/logout"><tmpl_var name="msg:esci"></a>
    &nbsp; | &nbsp;
    </tmpl_if>

    <tmpl_var name="msg:cerca">
    <input id="search" type="text" size="14" name="q" value="<tmpl_var msg:argomento>" onclick="this.value='';" onblur="if(this.value=='')this.value='<tmpl_var msg:argomento>'">
</div>
</form>
