    <div id="topics">
        <h2>schede</h2>
        <ul>
            <li><a href="<tmpl_var mycgi_path>/article/?id=8">Sviluppo psicomotorio</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=9">Sviluppo intellettivo</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=10">Schema svezzamento</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=11">Allattamento</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=12">Tabella dentizione</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=13">Vaccinazioni</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=14">Quanto mangia un neonato?</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=15">Quanto dorme un neonato?</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=16">Quanto cresce un neonato?</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=18">Quando nascer&agrave;?</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=17">Numeri utili</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=19">Quale nome scegliere per il tuo bimbo?</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=20">Di che segno zodiacale &egrave; il tuo bambino?</a></li>
            <li><a href="<tmpl_var mycgi_path>/article/?id=21">L'astrologia dei nove ki</a></li>
        </ul>
    </div>
