<tmpl_include name="document/open.html">
<tmpl_include name="document/header.html">

<body>
<tmpl_include name="components/signin.html">
<tmpl_include name="components/header.html">
<tmpl_include name="user/submenu.html">

<div id="charts-container">

    <tmpl_if show_ads><div id="lb-ad" style="text-align:center; margin-bottom:1.5em;">
    <img src="" width="728" height="90" title="Leaderboard" border="1">
    </div></tmpl_if>

    <h1>Grafici di crescita per bambini da 0 a 5 anni</h1>

    <form><fieldset>

        <label for="name">Nome del bambino</label>
        <input tabindex="1" type="text" name="name" maxlength="20" size="32">
        <br/>

        <label for="gender">Sesso</label>
        <input tabindex="2" type="radio" name="gender" value="m"> <span class="radio-caption">Maschio</span>
        <input tabindex="2" type="radio" name="gender" value="f" checked="checked"> <span class="radio-caption">Femmina</span>
        <br/>

        <label for="birthdate">Data di nascita</label>
        <select tabindex="3" name="day">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        &nbsp;
        <select tabindex="4" name="month">
            <option value="1" selected="selected">Gennaio</option>
            <option value="2">Febbraio</option>
            <option value="3">Marzo</option>
            <option value="4">Aprile</option>
            <option value="5">Maggio</option>
            <option value="6">Giugno</option>
            <option value="7">Luglio</option>
            <option value="8">Agosto</option>
            <option value="9">Settembre</option>
            <option value="10">Ottobre</option>
            <option value="11">Novembre</option>
            <option value="12">Dicembre</option>
        </select>
        &nbsp;
        <select tabindex="5" name="year">
            <option value="2011" selected="selected">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
        </select>
        <br/>

        <label for="chart_type">Tipo di curva</label>
        <select tabindex="4" name="chart_type">
            <option value="wfa">Peso</option>
            <option value="hfa">Altezza</option>
            <option value="chfa">Circonferenza cranica</option>
        </select>
        <br/>

        <label></label>

        <input type="submit" value="Continua">

    </fieldset>

    </form>

</div>

<tmpl_include name="document/footer.html">
<tmpl_include name="document/close.html">
